<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAPID | Motomensajeria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1 class="logo"><i class="fas fa-motorcycle"></i> RAPID</h1>
        <h3 class="servicios">Servicio de envíos y paquetería</h3>
    </header>
    <main>
        <h3 class="text-main">Reserve su moto haciendo click en el horario de su preferencia</h3>
        <section class="esquema">
            <div class="ventana" id="ventana">
            </div>
            <nav>
                <ul class="lista-horarios">
                <li class="horario"><a href="#" id="hora8:00">8:00</a></li>
                <li class="horario"><a href="#" id="hora8:30">8:30</a></li>
                <li class="horario"><a href="#" id="hora9:00">9:00</a></li>
                <li class="horario"><a href="#" id="hora9:30">9:30</a></li>
                <li class="horario"><a href="#" id="hora10:00">10:00</a></li>
                <li class="horario"><a href="#" id="hora10:30">10:30</a></li>
                <li class="horario"><a href="#" id="hora11:00">11:00</a></li>
                <li class="horario"><a href="#" id="hora11:30">11:30</a></li>
                <li class="horario"><a href="#" id="hora12:00">12:00</a></li>
                <li class="horario"><a href="#" id="hora12:30">12:30</a></li>
                <li class="horario"><a href="#" id="hora13:00">13:00</a></li>
                <li class="horario"><a href="#" id="hora13:30">13:30</a></li>
                <li class="horario"><a href="#" id="hora14:00">14:00</a></li>
                <li class="horario"><a href="#" id="hora14:30">14:30</a></li>
                <li class="horario"><a href="#" id="hora15:00">15:00</a></li>
                <li class="horario"><a href="#" id="hora15:30">15:30</a></li>
                <li class="horario"><a href="#" id="hora16:00">16:00</a></li>
                <li class="horario"><a href="#" id="hora16:30">16:30</a></li>
                <li class="horario"><a href="#" id="hora17:00">17:00</a></li>
                <li class="horario"><a href="#" id="hora17:30">17:30</a></li>
                <li class="horario"><a href="#" id="hora18:00">18:00</a></li>
                <li class="horario"><a href="#" id="hora18:30">18:30</a></li>
                <li class="horario"><a href="#" id="hora19:00">19:00</a></li>
                <li class="horario"><a href="#" id="hora19:30">19:30</a></li>
                </ul>
            </nav>
            <nav>
                <ul class="lista-disponibilidad">
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="8:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="8:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="9:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="9:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="10:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="10:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="11:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="11:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="12:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="12:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="13:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="13:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="14:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="14:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="15:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="15:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="16:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="16:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="17:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="17:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="18:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="18:30d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="19:00d">8</p></li>
                <li class="disponibilidad"><p>Motos disponibles: </p><p class="cantidad-disponible" id="19:30d">8</p></li>
                </ul>
            </nav>
            <div class="botonera-cancelacion">
                <button class="cancelar" id="cancel8:00">Cancelar</button>
                <button class="cancelar" id="cancel8:30">Cancelar</button>
                <button class="cancelar" id="cancel9:00">Cancelar</button>
                <button class="cancelar" id="cancel9:30">Cancelar</button>
                <button class="cancelar" id="cancel10:00">Cancelar</button>
                <button class="cancelar" id="cancel10:30">Cancelar</button>
                <button class="cancelar" id="cancel11:00">Cancelar</button>
                <button class="cancelar" id="cancel11:30">Cancelar</button>
                <button class="cancelar" id="cancel12:00">Cancelar</button>
                <button class="cancelar" id="cancel12:30">Cancelar</button>
                <button class="cancelar" id="cancel13:00">Cancelar</button>
                <button class="cancelar" id="cancel13:30">Cancelar</button>
                <button class="cancelar" id="cancel14:00">Cancelar</button>
                <button class="cancelar" id="cancel14:30">Cancelar</button>
                <button class="cancelar" id="cancel15:00">Cancelar</button>
                <button class="cancelar" id="cancel15:30">Cancelar</button>
                <button class="cancelar" id="cancel16:00">Cancelar</button>
                <button class="cancelar" id="cancel16:30">Cancelar</button>
                <button class="cancelar" id="cancel17:00">Cancelar</button>
                <button class="cancelar" id="cancel17:30">Cancelar</button>
                <button class="cancelar" id="cancel18:00">Cancelar</button>
                <button class="cancelar" id="cancel18:30">Cancelar</button>
                <button class="cancelar" id="cancel19:00">Cancelar</button>
                <button class="cancelar" id="cancel19:30">Cancelar</button>
            </div>
        </section>
    </main>
    <footer>
        <section class="derechos">
            <p>Derechos reservados</p>
            <p>2021</p>
        </section>
        <section class="desarrollador">
            <p>Desarrollado por</p> 
            <a href="http://www.roma-it.ar">Roma-it</a>
        </section>
        <section class="redes">
            <a href="https://www.linkedin.com" target="_blank"><img src="img/linkedin.png" alt=""></a>
            <a href="https://github.com" target="_blank"><img src="img/GitHub-logo.png" alt=""></a>
            <a href="http://www.instagram.com" target="_blank"><img src="img/logoInsta.jpg" alt=""></a>
        </section>
    </footer>
    <script src="/js/scriptmoto.js"></script>
</body>
</html>