*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
header{
    background-color: teal;
    padding: 10px 10px 5px;
    color: white;
    box-shadow: 0px 0px 10px black;
}
.logo{
    display: inline-block;
    text-align: center;
    text-shadow: 3px 5px 8px black;
    align-self: flex-start;
    margin-bottom: 15px;
}
.servicios{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
}
main{
    display: flex;
   flex-direction: column;
}
.text-main{
    font-weight: 500;
    text-align: center;
    margin: 10px auto 15px;
    width: 80%;
}
.ventana{
    position: absolute;
    top: -15px;
    left: 5%;
    width: 90%;
    background-color: rgba(83, 65, 65, 0.9);
    border: solid 2px white;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3px;
    display: none;
    box-shadow: 0px 5px 12px rgb(46, 45, 45);
}
.esquema{
    background-color: rgba(178, 210, 211,0.7);
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px black;
    position: relative;
}
.lista-horarios{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.horario a{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 5px;
    width: 60px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.horario{
    margin: 3px 0;
    width: 60px;
    height: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.lista-disponibilidad{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.disponibilidad p{
    margin: 0;
    display: inline-block;
    padding: 5px;
}
.disponibilidad{
    margin: 3px 0;
    height: 25px;
    background-color: rgba(248, 156, 122, 0.5);
}
.cantidad-disponible{
    background-color: teal;
    color: white;
    padding: 5px;
}
.botonera-cancelacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cancelar{
    height: 25px;
    padding: 5px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: red;
    border: none;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    font-size: 9px;
}
footer img{
    width: 20px;
}
.derechos{
    width: 30%;
    text-align: center;
}
.desarrollador{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes{
    width: 30%;
    display: flex;
    justify-content: space-around;
}